{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<center>
		<br>
		<br>
		<h1 style="margin: 20px;">About Page</h1>

		<h3 style="color: grey"> 
			The Microfinance Company was established with a vision of promoting business activities in Kenya.<br>
			The Microfinance Company Rgisters sacco members and give them loans to start or grow their businesses. <br> The management team ensures that it operates fairly and safeguards the rights of its members. 
		</h3>

			  <img src="{%  static 'images/members.jpg' %}" width="295px" height="px" style="border-radius: 10px; ">

	</center>


</body>
</html>